node_modules
.next
out
.env
.env.local
.env.*.local
.env.development
.env.production
.DS_Store
dist
build
coverage
*.log
.vercel
.yarn/install-state.gz
.yarn/install-state.*
.yarn/cache
*.pem
*.key
id_rsa
id_ed25519
.ssh/
